@page
@model ManufacturerProfileModel
@{
    ViewData["title"] = "Manufacurer's Profile";
}


<h1>Manufacturers Profile</h1>
<p>The following lists all Brands of watches Manufactured by <span>@Model.Manufacturer.Name</span></p>
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>LaunchDate</th>
            <th>IsAnalog</th>
            <th>Price</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Price Range</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var code in Model.Watches) {
            <tr>
                <td class="text-right">#@code.Id</td>
                <td>@code.Brand</td>
                <td>@code.LaunchDate</td>
                @if(@code.IsAnalog == true){
                    <td>Yes</td>
                }else{
                    <td>No</td>
                }
                <td>@code.Price</td>
                <td>@code.Material</td>
                <td>@code.Quantity</td>
                <td>@code.PriceRange</td>
            </tr>
        }
    </tbody>
</table>


